<div class="container">
    <div class="jumbotron">
        <h1>Themestrap Kitchen Sink</h1>
        <p>A quick preview of everything Bootstrap has to offer.</p>
        <p><a class="btn btn-primary btn-large" ng-click="dropboxLogin()">Learn more »</a></p>
    </div>

</div>
