<!DOCTYPE html>
<html ng-app="veilApp">
<head>
    <title>It's </title>

    <%-stylesheets%>
    <% stylesheet('stylesheets/style.css') -%>
    <% stylesheet('/components/ngProgress/ngProgress.css') -%>
</head>
<body>
<div ng-view>
    <%-body -%>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script type="text/javascript">
        forge = {disableNativeCode: true};
    </script>
    <%-scripts%>
    <script type="text/javascript">


        $(function(){

        })
    </script>
<!--Forge Script Tags -->
<% script('/javascripts/forge/debug.js') -%>
<% script('/javascripts/forge/util.js') -%>
<% script('/javascripts/forge/log.js') -%>
<% script('/javascripts/forge/md5.js') -%>
<% script('/javascripts/forge/sha1.js') -%>
<% script('/javascripts/forge/sha256.js') -%>
<% script('/javascripts/forge/hmac.js') -%>
<% script('/javascripts/forge/pbkdf2.js') -%>
<% script('/javascripts/forge/aes.js') -%>
<% script('/javascripts/forge/prng.js') -%>
<% script('/javascripts/forge/random.js') -%>
<% script('/javascripts/forge/jsbn.js') -%>
<% script('/javascripts/forge/asn1.js') -%>
<% script('/javascripts/forge/pem.js') -%>
<% script('/javascripts/forge/oids.js') -%>
<% script('/javascripts/forge/rsa.js') -%>
<% script('/javascripts/forge/pbe.js') -%>
<% script('/javascripts/forge/x509.js') -%>
<% script('/javascripts/forge/pki.js') -%>
<% script('/javascripts/forge/tls.js') -%>
<% script('/javascripts/forge/aesCipherSuites.js') -%>
<% script('/javascripts/forge/common.js') -%>

<!--PolyFill Script Tags -->
<% script('/javascripts/blobjs/blob.js') -%>
<% script('/components/FileSaver/FileSaver.js') -%>
<!--AngularJS Script Tags -->
<% script('/javascripts/veil/app.js') -%>
<% script('/javascripts/veil/controllers.js') -%>
<% script('/javascripts/veil/services.js') -%>
<% script('/components/dropstore-ng/dropstore-ng.js') -%>
<% script('/components/ngProgress/build/ngProgress.min.js') -%>


</body>
</html>