<% layout('layouts/application') -%>
    <!-- Script Tags -->
<% script('javascripts/forge/debug.js') -%>
    <% script('javascripts/forge/util.js') -%>
<% script('javascripts/forge/log.js') -%>
    <% script('javascripts/forge/md5.js') -%>
    <% script('javascripts/forge/sha1.js') -%>
    <% script('javascripts/forge/sha256.js') -%>
<% script('javascripts/forge/hmac.js') -%>
<% script('javascripts/forge/pbkdf2.js') -%>
    <% script('javascripts/forge/aes.js') -%>
    <% script('javascripts/forge/prng.js') -%>
    <% script('javascripts/forge/random.js') -%>
    <% script('javascripts/forge/jsbn.js') -%>
    <% script('javascripts/forge/asn1.js') -%>
    <% script('javascripts/forge/pem.js') -%>
<% script('javascripts/forge/oids.js') -%>
    <% script('javascripts/forge/rsa.js') -%>

<% script('javascripts/forge/pbe.js') -%>
<% script('javascripts/forge/x509.js') -%>
<% script('javascripts/forge/pki.js') -%>
<% script('javascripts/forge/tls.js') -%>
<% script('javascripts/forge/aesCipherSuites.js') -%>
<% script('javascripts/forge/common.js') -%>
<link type="text/css" rel="stylesheet" media="all" href="/javascripts/forge/screen.css" />
<style type="text/css">
    .ready { color: inherit; background: inherit; }
    .testing { color: black; background: yellow; }
    .pass{ color: white; background: green; }
    .fail{ color: white; background: red; }
</style>

<h1>I am the temsdfsdfsdfplate</h1>
<% block('header', "<p>I'm in the header.</p>") -%>
<% block('footer', "<p>I'm in the footer.</p>") -%>

        <textarea id="private_key">

        </textarea>
        <button id="private_button">Console</button>


<script type="text/javascript">

    $(function(){
        var pki = forge.pki;

        $('#private_button').click(function(){

            var pem = $('#private_key').val();
            console.log(pem)
            try{
            var privateKey = pki.privateKeyFromPem(pem);
            }
            catch(ex)
                {
                    forge.log.error('test', ex);
                }
            console.log('private key', privateKey);

        });

    })


</script>
